@import "@assets/styles/variables";

.header {

  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-bg;
  font-size: 14px;
  font-weight: $inter-semi-bold;
  line-height: 20px;
  color: $gray-text;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    @media (max-width: 378px) {
      position: fixed;
      z-index: 50;
      background-color: $white-bg;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow-y: auto;
      flex-direction: column;
      padding: 50px 40px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__nav-list {
    width: 902.38px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @media (max-width: 378px) {
      width: 343px;
    }
  }

  &__nav-links {
    width: 743px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 14px;

    @media (max-width: 378px) {
      width: 343px;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__nav-item {
    display: flex;
    flex-direction: row;
  }

  &__nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    &.active {
      span {
        color: $black;
      }
    }
  }

  &__nav-icon {
    width: 18px;
    height: 18px;
  }

  &__nav-logo {
    width: 129.38px;
    height: 32px;
    padding-left: 1px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__burger {
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 5px;
    cursor: pointer;

    @media (max-width: 378px) {
      display: flex;
    }

    &::before, &::after {
      border-radius: 1.5px;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $gray-text;
      transition: all 0.3s ease;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }

    &.active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }
}