@import "@assets/styles/variables";

.header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-bg;
  font-size: 14px;
  font-weight: $inter-semi-bold;
  line-height: 20px;
  color: $gray-text;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    width: 902.38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
      justify-content: center;
      position: relative;
    }
  }

  .open {
    display: flex !important;
  }

  &__nav {
    @media (max-width: 1024px) {
      display: none;
      position: absolute;
      top: 100%;
      right: 100%;
      animation: burgerAnimation 0.3s;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 50;
      overflow-y: auto;
      padding: 50px 40px;
      background-color: $white-bg;
    }
  }

  &__nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 14px;

    @media (max-width: 1024px) {

    }
  }

  &__nav-item {
    display: flex;
    flex-direction: row;
  }

  &__nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    &.active {
      span {
        color: $black;
      }
    }
  }

  &__nav-icon {
    width: 18px;
    height: 18px;
  }

  &__nav-logo {
    width: 129.38px;
    height: 32px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 1024px) {
      display: none;
    }

  }

  &__burger {
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 15px;
    height: 10px;
    cursor: pointer;

    @media (max-width: 1024px) {
      display: flex;
      position: absolute;
      right: 32.4%;

    }
    @media (max-width: 768px) {
      right: 10%;
    }

    &::before, &::after {
      border-radius: 1.5px;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $gray-text;
      transition: all 0.3s ease;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }

    &.active::after {
      bottom: 44.8%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }

  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}