@import "@assets/styles/variables";

.header {
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-bg;
  font-size: 1.4rem;
  font-weight: $inter-semi-bold;
  line-height: 2rem;
  letter-spacing: -0.1px;
  color: $gray-text;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    width: 90.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
  }

  &__nav-item {
    display: flex;
    flex-direction: row;
  }

  &__nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;

    &.active {
      span {
        color: $black;
      }
    }
  }

  &__nav-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  &__nav-logo {
    padding-right: 1.4rem;
    width: 10.1rem;
    height: 1.7rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}