@import "@assets/styles/variables.scss";
@import "@assets/styles/global.scss";
@import "@assets/styles/normalize.scss";

body {
  font-family: $inter, sans-serif;
  background-color: $gray-bg;
  color: $black;
  letter-spacing: 0;
  text-align: center;
}

a:hover {
  cursor: pointer;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;

  @media (max-width: 378px) {
    width: 343px;
  }
}