$white-bg: hsla(0, 0%, 101%, 1);
$black: hsla(236, 76%, 9%, 1);
$gray-bg: hsla(226, 36%, 95%, 1);
$gray-text: hsla(236, 18%, 57%, 1);
$gray-text-light: hsla(236, 20%, 65%, 1);

$inter: 'Inter', sans-serif;

$inter-thin: 100;
$inter-extra-light: 200;
$inter-light: 300;
$inter-regular: 400;
$inter-medium: 500;
$inter-semi-bold: 600;
$inter-bold: 700;
$inter-black: 900;
